In [1]:


import pandas as pd
from dotenv import load_dotenv
from fastapi import FastAPI
import pyodbc
import os

load_dotenv('.env')

server = os.getenv('SERVER')
database = os.getenv('DATABASE')
username = os.getenv('USERNAME')
password = os.getenv('PASSWORD')
driver = os.getenv('DRIVER')

connection_string = f"DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password};TrustServerCertificate=Yes"
conn = pyodbc.connect(connection_string)
cursor = conn.cursor()

In [78]:
query = '''
SELECT 
	e.Descricao
	, ie.Descricao
	, Variavel.Codigo
	, Variavel.Descricao
	, crv.Valor
	, CAST(crv.DataMedicao AS DATE) AS dataMedicao
FROM EngineCalculo.CalculoResultadoVariavel AS crv
INNER JOIN EngineCalculo.Variavel 
	ON Variavel.Id = crv.VariavelId
INNER JOIN EngineCalculo.CalculoResultado AS ExecucaoCalculoResultado 
	ON ExecucaoCalculoResultado.JobId = crv.JobId
INNER JOIN EngineCalculo.CalculoResultadoEquipamento 
	ON CalculoResultadoEquipamento.CalculoId = ExecucaoCalculoResultado.CalculoId 
    AND CalculoResultadoEquipamento.JobId = ExecucaoCalculoResultado.JobId
INNER JOIN Treetech.ViewEngine_UltimoJob
	ON ViewEngine_UltimoJob.EquipamentoId = CalculoResultadoEquipamento.EquipamentoId 
	AND ViewEngine_UltimoJob.JobId = ExecucaoCalculoResultado.JobId

INNER JOIN Equipamento AS e 
	ON e.Id = CalculoResultadoEquipamento.EquipamentoId
	
INNER JOIN EquipamentoInstalacaoEletrica AS eie 
	ON e.Id = eie.EquipamentoId

INNER JOIN InstalacaoEletrica AS ie 
	ON  ie.Id = eie.InstalacaoEletricaId

WHERE 1 = 1
	--e.Id = 132
	AND Variavel.Codigo IN (
						'TFB1_ON_VALOR' -- Temperatura para formação de bolhas enrolamento 1
						, 'TFB2_ON_VALOR' -- Temperatura para formação de bolhas enrolamento 1
						, 'TFB3_ON_VALOR' -- Temperatura para formação de bolhas enrolamento 1
						, 'TA_OFF' -- Teor de Água por ensaio offline
						, 'H2OP1_ON_VALOR' -- VALOR DO TEOR DE H20 NO PAPEL ENROLAMENTO 1
						, 'H2OP2_ON_VALOR' -- VALOR DO TEOR DE H20 NO PAPEL ENROLAMENTO 2
						, 'H2OP3_ON_VALOR' -- VALOR DO TEOR DE H20 NO PAPEL ENROLAMENTO 3
						, 'MONIT_ENV_ISOL1' -- Monitor do Envelhecimento da Isolação - Enrolamento 1
						, 'MONIT_ENV_ISOL2' -- Monitor do Envelhecimento da Isolação - Enrolamento 2
						, 'MONIT_ENV_ISOL3' -- Monitor do Envelhecimento da Isolação - Enrolamento 3

			)
		AND crv.Valor != 0
GROUP BY 
	e.Descricao
	, ie.Descricao
	, Variavel.Codigo
	, Variavel.Descricao
	, crv.Valor
	, CAST(crv.DataMedicao AS DATE)

ORDER BY CAST(crv.DataMedicao AS DATE) DESC
		, e.Descricao DESC
        '''
resultado = cursor.execute(query)
registro = resultado.fetchall()

In [79]:
colunas = [column[0] for column in cursor.description]

In [80]:
colunas

['Descricao', 'Descricao', 'Codigo', 'Descricao', 'Valor', 'dataMedicao']

In [83]:
colunas = ['Descricao', 'Descricao', 'Codigo', 'Descricao', 'Valor', 'dataMedicao']
dados = [dict(zip(colunas, row)) for row in registro]
df = pd.DataFrame(dados)

In [85]:
df.Descricao.unique()

array(['Monitor do Envelhecimento da Isolação - Enrolamento 1',
       'Valor da Temperatura de Formação de Bolhas no Enrolamento 2 por monitoramento online',
       'Monitor do Envelhecimento da Isolação - Enrolamento 2',
       'Valor da Temperatura de Formação de Bolhas no Enrolamento 3 por monitoramento online',
       'Monitor do Envelhecimento da Isolação - Enrolamento 3',
       'Valor da Temperatura de Formação de Bolhas no Enrolamento 1 por monitoramento online',
       'Teor de Água por ensaio offline'], dtype=object)

In [7]:
colunas = ['Descricao', 'CodigoCalculo', 'Descricao', 'UltimaAtualizacaoCalculo', 'descricaoEquipamento', 'descricaoInstalacaoEletrica', 'HealtIndex']
dados = [dict(zip(colunas, row)) for row in registro]
df = pd.DataFrame(dados)

In [8]:
df

,Descricao,CodigoCalculo,UltimaAtualizacaoCalculo,descricaoEquipamento,descricaoInstalacaoEletrica,HealtIndex
0,Dados Cadastrais do Primário da Bucha,BCH_CAD_PRIM,2023-05-30 02:04:59.103,Autotransformador INAT7-01 Fase A,Itacaiúnas,1.0
1,Dados Cadastrais do Secundário da Bucha,BCH_CAD_SEC,2023-05-30 02:04:59.103,Autotransformador INAT7-01 Fase A,Itacaiúnas,1.0
2,Dados Cadastrais do Terciário da Bucha,BCH_CAD_TERC,2023-05-30 02:04:59.103,Autotransformador INAT7-01 Fase A,Itacaiúnas,1.0
3,Capacitância do Primário da Bucha,BCH_CAP_PRIM,2023-05-30 02:04:59.103,Autotransformador INAT7-01 Fase A,Itacaiúnas,1.0
4,Capacitância da Bucha do Reator,BCH_CAP_REATOR,2023-05-30 02:04:59.103,Autotransformador INAT7-01 Fase A,Itacaiúnas,1.0
...,...,...,...,...,...,...
61,Dados Cadastrais do Resfriamento,IE_TR_RESF_CAD,2023-05-30 02:04:59.103,Autotransformador INAT7-01 Fase A,Itacaiúnas,1.0
62,Eventos do Resfriamento,IE_TR_RESF_EV,2023-05-30 02:04:59.103,Autotransformador INAT7-01 Fase A,Itacaiúnas,1.0
63,Dados Cadastrais do Tanque,IE_TR_TQP_CAD,2023-05-30 02:04:59.103,Autotransformador INAT7-01 Fase A,Itacaiúnas,1.0
64,Eventos do Tanque,IE_TR_TQP_EV,2023-05-30 02:04:59.103,Autotransformador INAT7-01 Fase A,Itacaiúnas,1.0
65,Temperatura do Enrolamento,IE_TR_ATV_TMP,2023-05-30 02:04:58.367,Autotransformador INAT7-01 Fase A,Itacaiúnas,1.0

In [70]:
query = '''
SELECT DISTINCT
			gc.Descricao
            , Calculo.Codigo AS CodigoCalculo
			, Calculo.Descricao
			, ExecucaoCalculoResultado.UltimaAtualizacao AS UltimaAtualizacaoCalculo
            , e.Descricao AS descricaoEquipamento
            , ie.Descricao AS descricaoInstalacaoEletrica
			, ExecucaoCalculoResultado.Resultado AS HealtIndex
        FROM [EngineCalculo].[CalculoResultado]  As ExecucaoCalculoResultado
            INNER JOIN [EngineCalculo].[CalculoResultadoEquipamento]
                ON CalculoResultadoEquipamento.CalculoId = ExecucaoCalculoResultado.CalculoId
                AND CalculoResultadoEquipamento.JobId = ExecucaoCalculoResultado.JobId
            INNER JOIN [Treetech].[ViewEngine_UltimoJob]
                ON ViewEngine_UltimoJob.EquipamentoId = CalculoResultadoEquipamento.EquipamentoId
                AND ViewEngine_UltimoJob.JobId = ExecucaoCalculoResultado.JobId
            INNER JOIN [EngineCalculo].[Calculo]
                ON Calculo.Id = ExecucaoCalculoResultado.CalculoId
            INNER JOIN [EngineCalculo].[CalculoResultadoVariavel] As EntradaVariavel
                ON ExecucaoCalculoResultado.JobId = EntradaVariavel.JobId
            INNER JOIN [EngineCalculo].[RevisaoVariavel] As RevisaoVariavel
                ON RevisaoVariavel.VariavelId = EntradaVariavel.VariavelId
                AND RevisaoVariavel.Revisao = EntradaVariavel.Revisao
            INNER JOIN [EngineCalculo].[Variavel]
                ON Variavel.Id = EntradaVariavel.VariavelId
            INNER JOIN Equipamento AS e
                ON e.Id = CalculoResultadoEquipamento.EquipamentoId
            INNER JOIN EquipamentoInstalacaoEletrica AS eie
                ON e.Id = eie.EquipamentoId
            INNER JOIN InstalacaoEletrica AS ie
                ON  ie.Id = eie.InstalacaoEletricaId
            INNER JOIN Familia AS f
                ON f.Id = e.FamiliaId
			INNER JOIN EngineCalculo.CategoriaVariavel AS cv
				ON cv.Id = Variavel.CategoriaVariavelId
			LEFT JOIN EngineCalculo.GrupoCalculo AS gc
				ON gc.Id = Calculo.GrupoCalculoId
        WHERE 1 =1
			AND Calculo.UltimaAtualizacao > '2023-06-24'
			AND f.Nome = 'Autotransformador'
            AND e.CodigoOperacional = '05E3'
            AND gc.Descricao = 'Health Index do Parâmetro'
        ORDER BY ExecucaoCalculoResultado.UltimaAtualizacao DESC
				 , ie.Descricao
                 , e.Descricao  '''
resultado = cursor.execute(query)
registro = resultado.fetchall()

In [74]:
colunas = [column[0] for column in cursor.description]

In [72]:
colunas

['Descricao',
 'CodigoCalculo',
 'Descricao',
 'UltimaAtualizacaoCalculo',
 'descricaoEquipamento',
 'descricaoInstalacaoEletrica',
 'HealtIndex']

In [63]:
colunas = ['JobId', 'VariavelId', 'Revisao', 'Valor', 'DataMedicao', 'UltimaAtualizacao']
dados = [dict(zip(colunas, row)) for row in registro]
df = pd.DataFrame(dados)
df

          JobId  VariavelId                 Revisao  Valor
0        247281          26 2023-02-16 12:21:20.640      1
1        247281          26 2023-02-16 12:21:20.643      2
2        247281          26 2023-02-16 12:21:20.643      3
3        247281          26 2023-02-16 12:21:20.643      4
4        247281          26 2023-02-16 12:21:20.643      5
...         ...         ...                     ...    ...
2744005  265015         180 2023-05-30 14:31:19.160    186
2744006  265015         180 2023-05-30 14:31:19.160    187
2744007  265015         180 2023-05-30 14:31:19.160    188
2744008  265015         180 2023-05-30 14:31:19.160    189
2744009  265015         180 2023-05-30 14:31:19.160    190

[2744010 rows x 4 columns]

In [46]:
query = '''
      SELECT *
        FROM EngineCalculo.CategoriaVariavel
        '''
resultado = cursor.execute(query)

In [47]:
registro = resultado.fetchall()
# columns=['Id', 'ModeloEquipamentoId', 'FamiliaId', 'Identificador', 'Descricao', 'DataFabricacao', 'NumeroSerie', 'Custo', 'DataOperacao', 'CalculoAutoGarantia', 'GarantiaEstoque', 'PeriodoGarantiaEstoqueId', 'GarantiaOperacao', 'PeriodoGarantiaOperacaoId', 'CoordenadaX', 'CoordenadaY', 'CoordenadaZ', 'InicioGarantia', 'TerminoGarantia', 'Patrimonio1', 'Patrimonio2', 'EquipamentoSigmaId', 'ChaveVinculo', 'DataCriacao', 'UsuarioCriacaoId', 'DataAlteracao', 'UsuarioAlteracaoId', 'IdUc', 'TucId', 'CodigoRcp', 'Reserva', 'MunicipioId', 'UarId', 'ComId', 'A1Id', 'A2Id', 'A3Id', 'A4Id', 'A5Id', 'A6Id', 'LivreA2', 'LivreA3', 'LivreA4', 'LivreA5', 'LivreA6', 'UnidadeA2Id', 'UnidadeA3Id', 'UnidadeA4Id', 'UnidadeA5Id', 'UnidadeA6Id', 'CodigoOperacional', 'FaseEletricaId', 'EquipamentoEspecialId', 'VeiculoId', 'ProprietariaId', 'CodigoErp', 'EstacaoOnsId', 'GrupoConsumoId', 'FuncaoTransmissaoEquipamentoId', 'CodificacaoManual', 'FuncaoTransmissaoId', 'FamiliaOnsId', 'MalhaFamiliaOnsId', 'UltimaAtualizacao', 'FamiliaSamOnsId', 'Zona', 'SistemaCoordenadas']

In [48]:
registro

[(1, 'I2_VAR', 'I2 - Variáveis para Índice de Impacto', '', 1, 1, datetime.datetime(2019, 6, 13, 14, 24, 4, 343000), 1, datetime.datetime(2019, 6, 13, 14, 24, 53, 57000)),
 (2, 'IE_VAR', 'IE - Variáveis Gerais para Índice de Estado', '', 1, 1, datetime.datetime(2019, 6, 13, 14, 24, 26, 400000), 1, datetime.datetime(2019, 6, 13, 14, 24, 26, 467000)),
 (6, 'IE_TR_ATV_TMP', 'IE - Parte Ativa - Temperatura enrolamento', '', 1, 1, datetime.datetime(2019, 6, 26, 12, 21, 11, 713000), 1, datetime.datetime(2019, 6, 26, 12, 41, 23, 987000)),
 (10, 'IE_TR_CAD', 'IE - Parte Ativa - Dados Cadastrais', '', 1, 1, datetime.datetime(2019, 6, 26, 12, 24, 19, 347000), 1, datetime.datetime(2019, 6, 26, 12, 25, 22, 500000)),
 (24, 'IE_TR_ATV_GP', 'IE - Parte Ativa - Envelhecimento do Papel (GP)', '', 1, 1, datetime.datetime(2019, 6, 26, 15, 18, 38, 27000), 1, datetime.datetime(2019, 6, 26, 15, 18, 38, 87000)),
 (25, 'IE_TR_ATV_H2OP', 'IE - Parte Ativa - Teor de água no papel', '', 1, 1, datetime.datetime(2019, 6, 26, 15, 19, 34, 633000), 1, datetime.datetime(2019, 6, 26, 15, 19, 34, 687000)),
 (26, 'IE_TR_ATV_DGA', 'IE - Parte Ativa - Cromatografia DGA', '', 1, 1, datetime.datetime(2019, 6, 26, 15, 19, 57, 643000), 1, datetime.datetime(2019, 6, 26, 15, 19, 57, 700000)),
 (27, 'IE_TR_ATV_H2', 'IE - Parte Ativa - Teor de hidrogênio H2', '', 1, 1, datetime.datetime(2019, 6, 26, 15, 20, 25, 17000), 1, datetime.datetime(2019, 6, 26, 15, 20, 25, 83000)),
 (28, 'IE_TR_ATV_FQ', 'IE - Parte Ativa - Estado do Óleo Isolante (Ensaio FQ)', '', 1, 1, datetime.datetime(2019, 6, 26, 15, 20, 37, 953000), 1, datetime.datetime(2019, 6, 26, 15, 20, 38, 43000)),
 (29, 'IE_TR_ATV_H2OO', 'IE - Parte Ativa - Teor de Água no Óleo Isolante', '', 1, 1, datetime.datetime(2019, 6, 26, 15, 20, 56, 607000), 1, datetime.datetime(2019, 6, 26, 15, 20, 56, 657000)),
 (30, 'IE_TR_BCH_CAP', 'IE - Bucha - Capacitância e Tangente Delta', '', 1, 1, datetime.datetime(2019, 6, 28, 11, 28, 35, 40000), 1, datetime.datetime(2019, 6, 28, 11, 28, 35, 107000)),
 (31, 'IE_TR_BCH_TD', 'IE - Bucha - Fator de dissipação', '', 1, 1, datetime.datetime(2019, 6, 28, 11, 28, 56, 937000), 1, datetime.datetime(2019, 6, 28, 11, 28, 57, 10000)),
 (32, 'IE_TR_BCH_FUGA', 'IE - Bucha - Corrente de fuga', '', 1, 1, datetime.datetime(2019, 6, 28, 11, 29, 15, 697000), 1, datetime.datetime(2019, 6, 28, 11, 29, 15, 773000)),
 (33, 'IE_TR_BCH_OLEO', 'IE - Bucha - Nível de óleo', '', 1, 1, datetime.datetime(2019, 6, 28, 11, 29, 30, 3000), 1, datetime.datetime(2019, 6, 28, 11, 29, 30, 337000)),
 (34, 'IE_TR_BCH_VAZ', 'IE - Bucha - Vazamento', '', 1, 1, datetime.datetime(2019, 6, 28, 11, 29, 46, 927000), 1, datetime.datetime(2019, 6, 28, 11, 29, 47, 277000)),
 (35, 'IE_TR_BCH_TRINCA', 'IE - Bucha - Trincas e quebra de porcelanas', '', 1, 1, datetime.datetime(2019, 6, 28, 11, 30, 2, 387000), 1, datetime.datetime(2019, 6, 28, 11, 30, 2, 483000)),
 (36, 'IE_TR_BCH_TMP', 'IE - Bucha - Temperatura Rev. 0.1', '', 1, 1, datetime.datetime(2019, 6, 28, 11, 30, 12, 710000), 1, datetime.datetime(2019, 6, 28, 11, 30, 12, 790000)),
 (37, 'IE_TR_BCH_CAD', 'IE - Bucha - Dados Cadastrais', '', 1, 1, datetime.datetime(2019, 6, 28, 11, 34, 51, 193000), 1, datetime.datetime(2019, 6, 28, 11, 34, 51, 247000)),
 (38, 'IE_TR_CMT_OP', 'IE - Comutador sobcarga - N° de operações', '', 1, 1, datetime.datetime(2019, 6, 28, 13, 39, 21, 750000), 1, datetime.datetime(2019, 6, 28, 13, 39, 43, 720000)),
 (39, 'IE_TR_CMT_CC', 'IE - Comutador sobcarga - Corrente comutada', '', 1, 1, datetime.datetime(2019, 6, 28, 13, 42, 50, 747000), 1, datetime.datetime(2019, 6, 28, 13, 42, 50, 803000)),
 (40, 'IE_TR_CMT_FQ', 'IE - Comutador sobcarga - Estado do óleo - FQ', '', 1, 1, datetime.datetime(2019, 6, 28, 13, 43, 19, 100000), 1, datetime.datetime(2019, 6, 28, 13, 43, 19, 277000)),
 (41, 'IE_TR_CMT_OLEO', 'IE - Comutador sobcarga - Temperatura do óleo', '', 1, 1, datetime.datetime(2019, 6, 28, 13, 43, 40, 653000), 1, datetime.datetime(2019, 6, 28, 13, 43, 41, 227000)),
 (42, 'IE_TR_CMT_TM', 'IE - Comutador sobcarga - Torque do motor de acionamento', '', 1, 1, datetime.datetime(2019, 6, 28, 13, 44, 3, 253000), 1, datetime.datetime(2019, 6, 28, 13, 44, 3, 313000)),
 (43, 'IE_TR_CMT_CAD', 'IE - Comutador sobcarga - Dados Cadastrais', '', 1, 1, datetime.datetime(2019, 6, 28, 13, 44, 16, 693000), 1, datetime.datetime(2019, 6, 28, 13, 44, 16, 747000)),
 (44, 'IE_TR_CMT_EV', 'IE - Comutador sobcarga - Eventos', '', 1, 1, datetime.datetime(2019, 6, 28, 13, 44, 30, 650000), 1, datetime.datetime(2019, 6, 28, 13, 44, 30, 693000)),
 (45, 'IE_TR_ATV_EV', 'IE - Parte Ativa - Eventos', '', 1, 1, datetime.datetime(2019, 6, 28, 13, 47, 42, 850000), 1, datetime.datetime(2019, 6, 28, 13, 47, 42, 897000)),
 (46, 'IE_TR_BCH_EV', 'IE - Bucha - Eventos', '', 1, 1, datetime.datetime(2019, 6, 28, 16, 59, 29, 193000), 1, datetime.datetime(2019, 6, 28, 16, 59, 29, 287000)),
 (47, 'IE_TR_ACES_EV', 'IE - Acessórios - Eventos', '', 1, 1, datetime.datetime(2019, 6, 30, 10, 44, 2, 483000), 1, datetime.datetime(2019, 6, 30, 10, 44, 2, 610000)),
 (48, 'IE_TR_AMB_EV', 'IE - Ambiente - Eventos', '', 1, 1, datetime.datetime(2019, 6, 30, 11, 17, 34, 730000), 1, datetime.datetime(2019, 6, 30, 11, 17, 34, 777000)),
 (49, 'IE_TR_OLEO_EV', 'IE - Preservação do Óleo Isolante - Eventos', '', 1, 1, datetime.datetime(2019, 6, 30, 11, 21, 47, 533000), 1, datetime.datetime(2019, 6, 30, 11, 21, 47, 583000)),
 (50, 'IE_TR_RESF_EV', 'IE - Resfriamento - Eventos', '', 1, 1, datetime.datetime(2019, 6, 30, 11, 24, 38, 497000), 1, datetime.datetime(2019, 6, 30, 11, 24, 50, 627000)),
 (51, 'IE_TR_TQP_EV', 'IE - Tanque - Eventos', '', 1, 1, datetime.datetime(2019, 6, 30, 11, 26, 24, 117000), 1, datetime.datetime(2019, 6, 30, 11, 26, 24, 167000)),
 (52, 'IE_TR_TQP_CAD', 'IE - Tanque - Dados Cadastrais', '', 1, 1, datetime.datetime(2019, 6, 30, 11, 35, 49, 710000), 1, datetime.datetime(2019, 6, 30, 11, 35, 49, 763000)),
 (53, 'IE_TR_RESF_CAD', 'IE - Resfriamento - Dados Cadastrais', '', 1, 1, datetime.datetime(2019, 6, 30, 11, 36, 22, 427000), 1, datetime.datetime(2019, 6, 30, 11, 36, 22, 470000)),
 (54, 'IE_TR_OUT_CAD', 'IE - Outros - Dados Cadastrais', '', 1, 1, datetime.datetime(2019, 6, 30, 11, 36, 50, 807000), 1, datetime.datetime(2019, 6, 30, 11, 36, 50, 863000)),
 (55, 'IE_TR_OLEO_CAD', 'IE - Preservação do Óleo Isolante - Dados Cadastrais', '', 1, 1, datetime.datetime(2019, 6, 30, 11, 37, 24, 160000), 1, datetime.datetime(2019, 6, 30, 11, 37, 24, 210000)),
 (56, 'IE_TR_OLEO_BOL', 'IE - Preservação do Óleo Isolante - Estado da Bolsa ou Membrana', '', 1, 1, datetime.datetime(2019, 6, 30, 11, 39, 5, 777000), 1, datetime.datetime(2019, 6, 30, 11, 39, 5, 820000)),
 (57, 'IE_TR_ACES_CAD', 'IE - Acessórios - Dados Cadastrais', '', 1, 1, datetime.datetime(2019, 6, 30, 13, 54, 25, 937000), 1, datetime.datetime(2019, 6, 30, 13, 54, 25, 977000)),
 (58, 'IE_TR_AMB_CAD', 'IE - Ambiente - Dados Cadastrais', '', 1, 1, datetime.datetime(2019, 6, 30, 13, 55, 12, 543000), 1, datetime.datetime(2019, 6, 30, 13, 55, 12, 593000)),
 (59, 'MO-L', 'Potencial MO-L', 'Variáveis para recomendações de Potencial MO-L', 1, 1, datetime.datetime(2019, 8, 2, 12, 0, 6, 557000), 1, datetime.datetime(2019, 8, 2, 12, 0, 6, 723000)),
 (60, 'IE_TR_BCH_TMP1', 'IE - Bucha - Temperatura Rev. 1', '', 1, 1, datetime.datetime(2020, 12, 21, 15, 8, 52, 427000), 1, datetime.datetime(2020, 12, 21, 15, 8, 52, 453000))]

In [42]:
dados = [dict(zip(columns, row)) for row in registro]
df = pd.DataFrame(dados)
df

,Id,ModeloEquipamentoId,FamiliaId,Identificador,Descricao,DataFabricacao,NumeroSerie,Custo,DataOperacao,CalculoAutoGarantia,...,GrupoConsumoId,FuncaoTransmissaoEquipamentoId,CodificacaoManual,FuncaoTransmissaoId,FamiliaOnsId,MalhaFamiliaOnsId,UltimaAtualizacao,FamiliaSamOnsId,Zona,SistemaCoordenadas
0,1,2,106,None,Autotransformador INAT7-01 Fase A,2007-01-01,1ZBR60560,None,NaT,False,...,1,None,True,None,20.0,None,2023-03-29 12:36:34.987,6,None,2
1,2,2,106,None,Autotransformador INAT7-01 Fase B,2007-01-01,1ZBR60561,None,NaT,False,...,1,None,True,None,20.0,None,2022-12-05 19:53:05.610,6,None,2
2,3,2,106,None,Autotransformador INAT7-01 Fase C,NaT,1ZBR60562,None,NaT,False,...,1,None,True,None,20.0,None,2022-12-05 19:53:25.097,6,None,2
3,4,2,106,None,Autotransformador INAT7-02 Fase A,NaT,1ZBR60564,None,NaT,False,...,1,None,True,None,20.0,None,2022-12-06 09:58:00.277,6,None,2
4,5,2,106,None,Autotransformador INAT7-02 Fase B,NaT,1ZBR60565,None,NaT,False,...,1,None,True,None,20.0,None,2022-12-05 19:54:04.767,6,None,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,251,1,50,None,"Reator RE 66,6 MVAr - 2 - FVm",NaT,None,None,NaT,False,...,1,None,False,None,NaN,None,2023-03-20 11:19:37.933,5,None,2
250,252,1,50,None,"Reator RE 66,6 MVAr - 2-3 - FR",NaT,None,None,NaT,False,...,1,None,False,None,NaN,None,2023-03-20 11:20:51.947,5,None,2
251,253,1,50,None,"Reator RE 66,6 MVAr - 3 - FBr",NaT,None,None,NaT,False,...,1,None,False,None,NaN,None,2023-03-20 11:22:16.593,5,None,2
252,254,1,50,None,"Reator RE 66,6 MVAr - 3 - FAz",NaT,None,None,NaT,False,...,1,None,False,None,NaN,None,2023-03-20 11:23:46.650,5,None,2
253,255,1,50,None,"Reator RE 66,6 MVAr - 3 - FVm",NaT,None,None,NaT,False,...,1,None,False,None,NaN,None,2023-03-20 11:25:06.553,5,None,2